{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" />
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
{% endblock %}

<header>
    <div class="header-wrapper">
        <nav class="uk-navbar-container header-nav" uk-navbar>
            <a href="/static" class="uk-navbar-item uk-logo logo">
                <img src="{{ url_for('static', filename='img/logo.svg') }}" />
            </a>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="/about">자기소개서</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="#">자기소개서 목록</a></li>
                                <li><a href="#">자기소개서 작성</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="/about">AI 모의 면접</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="#">면접 목록</a></li>
                                <li><a href="#">직업 기반 면접</a></li>
                                <li><a href="#">자기소개서 기반 면접</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="/contact2">맞춤법 검사기</a></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#modal-container" uk-toggle>
                            <span uk-icon="icon: user; ratio: 1.2;"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="modal-container" class="uk-modal-container" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Headline</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</header>